-# coding: utf-8

=flash_tag :success, :class=>'alert alert-success'
=flash_tag :info, :class=>'alert alert-info'
=flash_tag :error, :class=>'alert alert-error'
=flash_tag :warning, :class=>'alert alert-warning'
